* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url(images/banner.jpg);
}
.container {
    border: 2px solid white;
    border-radius: 12px;
    width: 30%;
    height: 700px;
    margin: auto;
    background-color:white;
    padding: 10px;
  
}

input[type=text], input[type=password], input[type=confirmpassword],input[type=secretquestion],input[type=answer] {
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border: 2px solid white;
    border-radius: 12px;

} 
input[type=text]:focus, input[type=password]:focus, input[type=confirmpassword]:focus,input[type=secretquestion]:focus,input[type=answer] :focus{
    background-color: #ddd;
    outline: none;
}                     
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border: 2px solid white;
    border-radius: 12px;
    opacity: 0.8;
    outline: none;
}
button:hover {
    opacity:1;
  }

  


